[Desktop Entry]
Name=PyChildDraw
Comment=Simple child draw application
Exec=pychilddraw
Icon=pychilddraw
Terminal=false
Type=Application
Categories=Game;Education
